/* Styles for vaadin-grid component */

.grid-wrapper {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    overflow-x: auto;
}

.grid-panel-wrapper {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 0px;
    margin-right: 0px;
}

.grid-panel {
    background-color: var(--lumo-contrast-5pct);
    border-radius: var(--lumo-border-radius-l) var(--lumo-border-radius-l) var(--lumo-border-radius-l) var(--lumo-border-radius-l);
    padding: 8px;
}

/* Apply hover to all grids by default */
[part~="row"]:hover [part~="body-cell"] {
  background-color: var(--lumo-contrast-10pct) !important;
}

/* Grid sorter component customization */
:host [part='indicators'] {
  vertical-align: top;
  align-self: flex-start !important;
  margin-top: 3px; /* Fine-tune alignment with the column header text */
}
