@import url('css/vaadin-dialog-overlay.css');
@import url('css/vaadin-calendar.css');
@import url('css/vaadin-grid.css');
@import url('css/vaadin-tree-grid-2.css');
/* Add your styles here for elements not in the shadow dom*/

/*******************/
/* Drag and Drop styles */
/*******************/

.task-card.dragging {
    opacity: 0.5;
    transform: rotate(2deg);
    cursor: grabbing !important;
}


/* Dark theme specific styles */
[theme~="dark"] .navbar-custom {
    background-color: var(--lumo-base-color);
}

/*******************/
/* Report styles   */
/*******************/

.qtip-shadow {
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .15);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .15);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .15);
}

.cell-name {
	margin-top: 5px;
	color: #888;
	line-height: 16px;
	font-size: 13px;
}
.cell-text {
	display: inline;
	padding-left: 3px;
	padding-right: 3px;
	white-space: nowrap;
    font-size: 18px;
}

.cell-text a {
	border-bottom-color: rgb(202, 227, 242);
	cursor: context-menu;
}

.critical {
  background-color: #ee0000;
  color: white;
  border: 0 solid #dfe1e6;
  border-radius: 3px;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: 2px 5px 3px;
  text-align: center;
  text-decoration: none;
}

.good {
	background-color: #00aa00;
	color: white;
    border: 0 solid #dfe1e6;
    border-radius: 3px;
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 2px 5px 3px;
    text-align: center;
    text-decoration: none;
}

.idle a {
	/*color: #236a97;*/
}

.idle a:active, .idle a:focus, .idle a:hover {
	color: #4b9fd5;
}

.warning
{
	color: white;
	background-color: #f77700;
    border: 0 solid #dfe1e6;
    border-radius: 3px;
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 2px 5px 3px;
    text-align: center;
    text-decoration: none;
}
.info {
	color: white;
	background-color: #205081;
    border: 0 solid #dfe1e6;
    border-radius: 3px;
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 2px 5px 3px;
    text-align: center;
    text-decoration: none;
}
.ignore {
	background-color: #dfe1e6;
    color: #42526e;
    border: 0 solid #dfe1e6;
    border-radius: 3px;
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 2px 5px 3px;
    text-align: center;
    text-decoration: none;
 }
